.product-card-container {
    height: 40vh;
    width: 20vh;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px black;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;

    padding: 5px 5px;
}

.product-card-container > .product-galery {
    min-height: 50%;
    width: 100%;
    background-color: #ededed;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
} 

.product-card-container > .product-description {
    height: 25%;
    width: 100%;
} 

.product-card-container > .product-purchase {
    height: 25%;
    width: 100%;

} 

.product-card-container > .product-purchase > .product-quantity {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 5px;
} 

.product-card-container > .product-purchase > .product-quantity > .pdt-qty-value {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.product-card-container > .product-purchase > .product-quantity > .pdt-qty-action {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
} 

.product-card-container > .product-purchase > .product-quantity > .pdt-qty-action > .qty-action {
    height: 20px;
    width: 20px;
    border-radius: 20px;
    background-color: #8e6995;
    cursor: pointer;
} 

.product-card-container > .product-purchase > .product-add-cta {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    width: 100%;
    border: solid 1px black;
    font-size: 0.7em;
    border-radius: 50px;
    cursor: pointer;
} 