body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  /* min-width: 100vw;
  min-height: 100vh; */
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: 'Ranchers', cursive;
  background-color: #ebebeb;
}

/* 
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} 
*/
header {
  height: 10vh;
}

footer {
  height: 10vh;
}

p {
  margin: 0;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}
